<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='tuisd-logo.png') }}">
        </a>
        <span class="display-2">Database Examples</span>
    </div>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-primary">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}
</div>
</body>
</html>