{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1 class="display-4">Members and Comments</h1>
    <ul>
        <li><a href="{{ url_for('create_member') }}">Create member</a></li>
        <li><a href="{{ url_for('all_members') }}">All members</a></li>
        <li><a href="{{ url_for('all_comments') }}">All comments</a></li>
    </ul>

    <h1 class="display-4">Accounts</h1>
    <ul>
        <li><a href="{{ url_for('all_accounts') }}">All accounts</a></li>
        <li><a href="{{ url_for('transfer') }}">Transfer funds</a></li>
    </ul>
{% endblock %}