<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Fancy Home Page</h1>
<h2>Simple Templates</h2>
<ol>
    <li><a href="/">Simple Hello</a></li>
    <li><a href="/name">Hello to Zelda (hard-wired)</a></li>
    <li><a href="/name/Fred">Hello to Fred (in URL)</a></li>
    <li><a href="/comments">List of Comments</a></li>
</ol>
<h2>Template Inheritance</h2>
<ol>
    <li><a href="/base">Base</a></li>
    <li><a href="/one">Page One</a></li>
    <li><a href="/two">Page Two</a></li>
</ol>
</body>
</html>
